body{
    display: flex;
    flex-direction: column;
}

.div-container {
    margin: 0 1px 1px 0;
    display: flex;
    flex-shrink: 0;
}

.div-style {
    width: 30px;
    height: 30px;
    background-color: blue;
    box-shadow: 0px 0px 10px grey;
    margin: 0 1px 1px 0;
}

.div-style:hover{
    background-color: blueviolet;
}